#header{
    width: auto;
    background: #F0F0F0;
    .header{
        width: 1200px;
        height: auto;
        margin: 0 auto;
    }
}
#main-body{
    margin-top: 50px;
    .main-body{
        width: 1200px;
        // height: 4120px;
        margin: 0 auto;
        .introduct{
            width: 190px;
            height: 1200px;
            .hot{
                width: 190px;
                height: 1050px;
                text-align: center;
                border: 1px solid #e6e6e6;
                li{
                    cursor: pointer;
                    margin-top: 15px;
                    .icon{
                        position: relative;
                        a{
                            display: inline-block;
                            width: 140px;
                            height: 140px;
                        }
                        a:hover:after {display: inline-block;}
                        a:hover:before {display: inline-block;}
                    }
                }
                .hottil{
                    line-height: 41px;
                    height: 41px;
                    border-bottom:1px solid #e6e6e6; 
                    span:nth-child(1){color: red;}span:nth-child(2){color:#666}
                }
                    .til{
                        font-size: 14px;
                        white-space:nowrap; //不换行
                        overflow:hidden;   //超出隐藏
                        text-overflow:ellipsis;    //文本超出隐藏
                        padding: 0 15px;
                    }
                .price{color: red;}
                .active:after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 80px;
                    height: 85px;
                    background: url("../images/good/hot-erweima.png")no-repeat;
                    right: 50px;
                    top: 30px;
                    display: none;
                }
                .active:before{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 140px;
                    height: 140px;
                    background:  rgba(0,0,0,0.6);
                    border-radius: 10px;
                    display: none;
                }
            }
        }
        .content{
            width: 1000px;
            height: auto;
            position: relative;
            .fore{
                width: 1000px;
                height: 42px;
                border: 1px solid #999;
                li{
                    float: left;
                    dl{
                        height: 42px;
                        line-height: 42px;
                        padding-left: 10px;
                        dd{
                            float: left;
                            margin-right: 10px;
                        }
                        .ac{cursor: pointer;}
                        .ac:hover{
                            color: #fff;
                            background: #dc3645;}
                        .dis{
                            display: inline-block;
                            border: 1px solid #ddd;
                            color: #666;
                            background: #fff;
                            text-align: center;
                            height: 30px;
                            line-height: 30px;
                            font-size: 14px;
                            padding: 0 3px;
                        }
                        .jt-up:after{
                            content: "";
                            display: inline-block;
                            width: 9px;
                            height: 11px;
                            background: url(../images/good/jinglitu-jiantou.png)no-repeat -70px -57px;
                            margin:0 3px;
                        }
                        .jt-down:after{
                            content: "";
                            display: inline-block;
                            width: 9px;
                            height: 11px;
                            background: url(../images/good/jinglitu-jiantou.png)no-repeat -70px -47px;
                            margin:0 3px;
                        }
                        .act{
                            border: 1px solid #fb5053;
                            color: #fff;
                            background: #dc3645;
                            padding: 0 3px;
                        }
                    }
                }
            }
            .good-list{
                width: 1000px;
                height: auto;
                .list{
                    width: 1000px;
                    overflow: hidden;
                    height: 1100%;
                    li{
                        width: 242px;
                        height: 392px;
                        float: left;
                        margin-top: 10px;
                        padding: 5px 10px;
                        .icon{
                            width: 220px;
                            height: 220px;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        .icon-box{
                            width: 220px;
                            height: 37px;
                            margin: 20px 0 ;
                            .list-box{
                                overflow: hidden;
                                width: 170px;
                                height: 37px;
                                margin: 0 auto;
                                float: left;
                                position: relative;
                              .icon-list{
                                    width: 100%;    
                                    height: 37px;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    white-space: nowrap;
                                    width: 225px;
                                    dd{
                                        height: 37px;
                                        float: left;
                                        margin-left: 7px;
                                        border-style: solid;
                                        border-width: 1px;
                                        border-color: #999; 
                                    }
                                    dd:first-child{margin: 0;}
                                    // dd:last-child{margin: 0;}
                                }  
                            }
                            .bt-left,.bt-right{
                                display: block;
                                width: 16px;
                                height: 35px;
                                float: left;
                                cursor: pointer;
                            }
                            .bt-left{
                                background: url("../images/good/jinglitu-jiantou.png")no-repeat 0 -46px;
                                margin-right: 5px;
                            }
                            .bt-right{
                                background: url("../images/good/jinglitu-jiantou.png")no-repeat -17px -46px;
                                margin-left: 5px;
                            }
                        }
                        
                        .price{
                            margin: 10px 0;
                            .nowprice{color: #e43b3b;font-size: 16px;font-weight: bold;}
                            .beforeprice{color: #999;text-decoration: line-through;margin-left: 5px;}
                        }
                        .title{font-size: 14px;color: #666}
                    }
                    li:hover{
                        border: 1px solid #ddd;
                        box-shadow: 0px 0px 5px #999;
                    }
                }
                .pages-box{
                    width: 100%;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    .addmore{
                        width: 500px;
                        height: 30px;
                        margin: 0 auto;
                        background: #e43b3b;
                    }
                }
                
            }
        }
    }
}

//脚步样式
    .good-foot{
        width: 1200px;
        height: 550px;
        margin: 0 auto;
        iframe{
            height: 555px;
        }
    }
